@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

    <div class="panel panel-danger margin-top-20">
        <div class="panel-heading text-danger">Locked out.</div>
        <div class="panel-body text-danger">
            This account has been locked out, please try again later.
        </div>
    </div>
    <h1 class="text-danger"></h1>
    <h2 class="text-danger"></h2>
